* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100vh;

  scroll-behavior: smooth;
}

body {
  background: #acc6d1;
  color: #2b2b2b;
  font-family: sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

button {
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ========================= */
/* REVEAL ANIMATION */
/* ========================= */

.reveal {
  opacity: 0;

  transform: translateY(80px);

  transition:
    opacity 1s ease,
    transform 1s ease;

  will-change: opacity, transform;
}

.reveal.active {
  opacity: 1;

  transform: translateY(0);
}

/* LEFT */

.reveal-left {
  opacity: 0;

  transform: translateX(-80px);

  transition:
    opacity 1s ease,
    transform 1s ease;
}

.reveal-left.active {
  opacity: 1;

  transform: translateX(0);
}

/* RIGHT */

.reveal-right {
  opacity: 0;

  transform: translateX(80px);

  transition:
    opacity 1s ease,
    transform 1s ease;
}

.reveal-right.active {
  opacity: 1;

  transform: translateX(0);
}

/* SCALE */

.reveal-scale {
  opacity: 0;

  transform: scale(0.9);

  transition:
    opacity 1s ease,
    transform 1s ease;
}

.reveal-scale.active {
  opacity: 1;

  transform: scale(1);
}

/* FONTES */

.quicksand {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
